<div>
<h3>ENTRY</h3>
<p>Current Balance : {{currentBalance.value}}</p>
<p>entries total : {{entries.length}}</p>
<!-- <div ng-show="entry">{{entry}}</div> -->
<div >  
   <input class="input-xlarge"  type="date" ng-model="expEntry.date">
  <input class="input-xlarge" ng-model="expEntry.value"/>
  <select data-ng-model="expEntry.type" data-ng-options="e.type for e in expType"></select>
  <input class="input-xlarge" ng-model="expEntry.particulars"/>
  <br>
  <div><b><a href="" ng-click="doEntry(expEntry, '+')">INCOME</a></b></div>
    <br>
  <div><b><a href="" ng-click="doEntry(expEntry, '-')">EXPENSE</a></b></div>
</div>
</div>