<div>
<h3>ENTRY</h3>
<p>Current Balance : {{balance.currentBalance}}</p>
<p>entries total : {{entries.length}}</p>
<div ng-show="entry">{{entry}}</div>
	<div ng-show="expEntry.value">

	<input class="input-xlarge" ng-model="expEntry.value"/>

   <select data-ng-model="expEntry.type" data-ng-options="e.type for e in expType"></select>

   <input class="input-xlarge" ng-model="expEntry.particulars"/>

	<b><a href="" ng-click="doEntry(expEntry, '+')">+</a></b>
  <b><a href="" ng-click="doEntry(expEntry, '-')">-</a></b>
</div>

<div>
 
<table style="width:100%" >
  <tr>
    <td>
<a href="" ng-click="setEntry(1)"><div style="background-color:black; color:white; padding:20px;">
1
</div> </a>
    <td>
<a href="" ng-click="setEntry(2)"><div style="background-color:black; color:white; padding:20px;">
2
</div> </a>
    <td>
<a href="" ng-click="setEntry(3)"><div style="background-color:black; color:white; padding:20px;">
3
</div> </a>
  </tr>
  <tr>
    <td>
<a href="" ng-click="setEntry(4)"><div style="background-color:black; color:white; padding:20px;">
4
</div> </a>
    <td>
<a href="" ng-click="setEntry(5)"><div style="background-color:black; color:white; padding:20px;">
5
</div> </a>
    <td>
<a href="" ng-click="setEntry(6)"><div style="background-color:black; color:white; padding:20px;">
6
</div> </a>
  </tr>
  <tr>
    <td>
<a href="" ng-click="setEntry(7)"><div style="background-color:black; color:white; padding:20px;">
7
</div> </a>
    <td>
<a href="" ng-click="setEntry(8)"><div style="background-color:black; color:white; padding:20px;">
8
</div> </a>
    <td>
<a href="" ng-click="setEntry(9)"><div style="background-color:black; color:white; padding:20px;">
9
</div> </a>
  </tr>
  <tr>
    <td>
<a href="" ng-click="setEntry('-')"><div style="background-color:black; color:white; padding:20px;">
--
</div> </a>
    <td>
<a href="" ng-click="setEntry('0')"><div style="background-color:black; color:white; padding:20px;">
0
</div> </a>
    <td>
<a href="" ng-click="setEntry('.')"><div style="background-color:black; color:white; padding:20px;">
.
</div> </a>
  </tr>

</table>

</div>

</div>