<div>
<h3>ENTRY</h3>
<p>Current Balance : {{currentBalance.value}}</p>
<!-- <div ng-show="entry">{{entry}}</div> -->
<div >  
   <input class="input-xlarge"  type="date" ng-model="expEntry.date" placeholder="Date">
   <br>
   <input class="input-xlarge" ng-model="expEntry.value" placeholder="value"/>
   <br><br>
   <select data-ng-model="expEntry.type" ng-change="checkAddNew()">
    <option value="" disabled selected>Select your option</option>
    <option value="Add New">+Add New</option>
    <option ng-repeat="e in expTypeHeads">{{e.type}}</option>
   </select>
   
   <!-- <select data-ng-model="expEntry.type" ng-change="checkAddNew()">
    <option value="" disabled selected>Select your option</option>
    <option value="Add New">+Add New</option>
    <option ng-repeat="e in expType">{{e.type}}</option>
   </select> -->
   <div ng-show="addNew">
    <input type="text" ng-model="label" /><br>
    <input type="text" ng-model="value" /><br>
    <button ng-click="addToDropDown(label, value)">add</button>
  </div>
   <br>
   <input class="input-xlarge" ng-model="expEntry.particulars" placeholder="particulars"/>
  <br><br>
  <div><b><a href="" ng-click="doEntry(expEntry, '+')">INCOME</a></b></div>
    <br>
  <div><b><a href="" ng-click="doEntry(expEntry, '-')">EXPENSE</a></b></div>
</div>
</div>